/*.foot-side {
    position: absolute;
    bottom: 10px;
    right: 60px;
    left: 400px;
}
span {
    color: #E7332B;
    font-size: 50px;
}
#center {
    color: #667085;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    justify-content: center;
    margin-top: 73px;
}
#img_ing {
    position: absolute;
    width: 80px;
    height: 22px;
    margin-left: 0px;
    margin-bottom: 300px;
    align-items: auto;
}
.ingress {
    padding-right: 400px;
    float: right;
}
.foot {
    display: flex;
    justify-content: space-between;
} */
footer .container {
    margin: 40px auto;
    max-width: 768px;

}
.footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
}
.footer h3 {
    position: relative;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 50px;
}
span {
    color: #E7332B;
    font-size: 50px;
}
.footer p {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #667085;
}
.ingress img {
    width: 100px;
}

.footer:after {
    background-color: #EAECF0;
    content: "";
    height: 1px;
    margin-bottom: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}
