* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

a {
  text-decoration: none;
}
#icons_app {
  position: relative;
  top: 265px;
  right: 20px;
  margin: 10px;
  gap: 20px;
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
#icons_app img {
  border-radius: 0;
  height: 23px;
  left: 0;
  top: 0;
  width: 24px;
}
.contain {
    margin: 40px auto;
    max-width: 767px;
    position: relative;
}
div {
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 500px) {
  .footer {
    width: 55%;
  }
  #btn {
    align-items: center;
    margin-left: 30%;
    padding-left: 20vh;
    justify-items: center;
  }
}
